@model MONAPPLICATION.Models.Demande

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Demande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeDemande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeDemande)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDemande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDemande)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilisateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilisateur.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DemandeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
